body{
    max-width: 600px;
    margin: 0 auto;
}


.content{
    padding: auto;
    margin: auto;
    flex-direction: column;
    max-width: 600px;
}


.plate-image{
    width: 100%;
    margin: 32px 0px;
    border-radius: 32px;
}

h2{
    margin-bottom: 16px;
}

.answer-button{
    margin-top: 24px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    background-color: #3a3a41;
    color: #fffcf2;
    padding: 12px 24px;
    border-radius: 8px;
    max-width: 446px;
}